import { App, Astal, Gtk, Gdk } from "astal/gtk3"
import { Variable, GLib, bind } from "astal"
import Hyprland from "gi://AstalHyprland"
import Mpris from "gi://AstalMpris"
import Battery from "gi://AstalBattery"
import Wp from "gi://AstalWp"
import Network from "gi://AstalNetwork"

// Time variables
const time = Variable("").poll(1000, () => 
  GLib.DateTime.new_now_local().format("%H:%M:%S") || ""
)

const date = Variable("").poll(10000, () =>
  GLib.DateTime.new_now_local().format("%A, %B %d") || ""
)

// Time widget
function TimeWidget() {
  const box = new Astal.Box({
    className: "section time-section",
    vertical: true,
  })
  
  const timeLabel = new Astal.Label({
    className: "time-big",
    label: bind(time),
  })
  
  const dateLabel = new Astal.Label({
    className: "date-small",
    label: bind(date),
  })
  
  box.add(timeLabel)
  box.add(dateLabel)
  
  return box
}

// Launcher
function Launcher() {
  const box = new Astal.Box({
    className: "section launcher-section",
    halign: Gtk.Align.CENTER,
  })
  
  const button = new Astal.Button({
    className: "launcher-btn",
    onClicked: () => {
      GLib.spawn_command_line_async("nwg-menu -va top")
    },
  })
  
  const label = new Astal.Label({
    label: "",
  })
  
  button.child = label
  box.add(button)
  
  return box
}

// Battery widget
function BatteryWidget() {
  const battery = Battery.get_default()
  
  const box = new Astal.Box({
    className: "section",
    vertical: true,
  })
  
  const statRow = new Astal.Box({
    className: "stat-row",
  })
  
  const icon = new Astal.Label({
    className: "icon",
    label: "",
  })
  
  const contentBox = new Astal.Box({
    vertical: true,
    hexpand: true,
  })
  
  const labelRow = new Astal.Box({})
  
  const batteryLabel = new Astal.Label({
    className: "label",
    halign: Gtk.Align.START,
    label: "Battery",
  })
  
  const batteryValue = new Astal.Label({
    className: "value",
    halign: Gtk.Align.END,
    hexpand: true,
  })
  
  // Bind battery percentage
  battery.connect("notify::percentage", () => {
    batteryValue.label = `${Math.floor(battery.percentage * 100)}%`
  })
  batteryValue.label = `${Math.floor(battery.percentage * 100)}%`
  
  labelRow.add(batteryLabel)
  labelRow.add(batteryValue)
  
  const levelBar = new Astal.LevelBar({
    className: "progress-bar battery-bar",
  })
  
  battery.connect("notify::percentage", () => {
    levelBar.value = battery.percentage
  })
  levelBar.value = battery.percentage
  
  contentBox.add(labelRow)
  contentBox.add(levelBar)
  
  statRow.add(icon)
  statRow.add(contentBox)
  box.add(statRow)
  
  return box
}

// Volume widget
function VolumeWidget() {
  const audio = Wp.get_default()
  const speaker = audio?.audio.defaultSpeaker
  
  if (!speaker) {
    return new Astal.Box({})
  }
  
  const box = new Astal.Box({
    className: "section",
  })
  
  const icon = new Astal.Label({
    className: "icon",
  })
  
  speaker.connect("notify::mute", () => {
    icon.label = speaker.mute ? "󰝟" : "󰕾"
  })
  icon.label = speaker.mute ? "󰝟" : "󰕾"
  
  const contentBox = new Astal.Box({
    vertical: true,
    hexpand: true,
  })
  
  const labelRow = new Astal.Box({})
  
  const volumeLabel = new Astal.Label({
    className: "label",
    halign: Gtk.Align.START,
    label: "Volume",
  })
  
  const volumeValue = new Astal.Label({
    className: "value",
    halign: Gtk.Align.END,
    hexpand: true,
  })
  
  speaker.connect("notify::volume", () => {
    volumeValue.label = `${Math.floor(speaker.volume * 100)}%`
  })
  volumeValue.label = `${Math.floor(speaker.volume * 100)}%`
  
  labelRow.add(volumeLabel)
  labelRow.add(volumeValue)
  
  const slider = new Astal.Slider({
    className: "volume-slider",
    drawValue: false,
    hexpand: true,
  })
  
  slider.connect("dragged", () => {
    speaker.volume = slider.value
  })
  
  speaker.connect("notify::volume", () => {
    slider.value = speaker.volume
  })
  slider.value = speaker.volume
  
  contentBox.add(labelRow)
  contentBox.add(slider)
  
  box.add(icon)
  box.add(contentBox)
  
  return box
}

// Main stats window
function StatsWindow() {
  const mainBox = new Astal.Box({
    className: "main-container",
    vertical: true,
    spacing: 10,
  })
  
  mainBox.add(TimeWidget())
  mainBox.add(Launcher())
  mainBox.add(BatteryWidget())
  mainBox.add(VolumeWidget())
  
  return new Astal.Window({
    className: "stats-window",
    name: "stats",
    anchor: Astal.WindowAnchor.TOP | Astal.WindowAnchor.RIGHT,
    exclusivity: Astal.Exclusivity.NORMAL,
    visible: false,
    application: App.get_default(),
    child: mainBox,
  })
}

App.start({
  css: "./style.css",
  main() {
    StatsWindow()
  },
})
