* {
    border: none;
    border-radius: 0px;
    font-family: FontAwesome, "Noto Sans CJK"; 
    font-size: 16px;
    font-style: normal;
    min-height: 0;
}

window#waybar {
    background: rgba(12, 14, 15, 0.00);
    border-bottom: 0px;
    color: #cdd6f4;
}

#workspaces {
    background-color: rgba(12, 14, 15, 0.85);
    color: #cdd6f4;
    padding: 6px 15px;
    margin: 0px 3px;
    border-radius: 8px;
    border-bottom: 2px solid #5D4A78;
}

#workspaces button {
    padding: 0px 5px;
    margin: 5px 4px;
    border-radius: 6px;
    color: #7f849c;
    background-color: transparent;
    transition: all 0.2s ease;
    border: 1px solid #45475a;
}

#workspaces button.active { 
    color: #1e1e2e;
    background: linear-gradient(135deg, #bdc6e4, #a6adc8);
    border: 1px solid #89b4fa;
}

#workspaces button:hover {
    background-color: #313244;
}

#clock, #battery, #network, #pulseaudio, #temperature, #cpu, #memory,
#custom-diskuse, #custom-p1g8power, #custom-energy, #custom-cooling,
#tray, #backlight, #custom-playerctl, #custom-playerlabel {
    color: #cdd6f4;
    background-color: rgba(12, 14, 15, 0.9);
    border-radius: 8px;
    padding: 0px 15px;
    margin: 0px 3px;
    border-bottom: 2px solid #5D4A78;
}

#custom-playerctl {
    font-size: 24px;
    padding: 0px 10px 0px 17px;
}

#battery.warning:not(.charging) {
    color: #f9e2af;
}

#battery.critical:not(.charging) {
    color: #f38ba8;
}

#battery.charging {
    padding: 0px 15px;
}

#custom-launcher {
    color: #5af0ff;
    background-color: rgba(12, 14, 15, 0.9);
    border-radius: 8px;
    margin: 0px 3px;
    padding: 0px 10px;
    font-size: 24px;
    border-bottom: 2px solid #5D4A78;
}

#window {
    background: rgba(12, 14, 15, 0.9);
    padding: 0px 20px;
    border-radius: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: normal;
    font-style: normal;
    border-bottom: 2px solid #5D4A78;
}

#custom-wf-recorder {
    padding: 0px 15px;
    color: #e5809e;
    background-color: rgba(12, 14, 15, 0.9);
    border-radius: 8px;
    margin: 0px 3px;
    border-bottom: 2px solid #5D4A78;
}

#custom-hyprpicker {
    background-color: rgba(12, 14, 15, 0.9);
    border-radius: 8px;
    margin: 0px 3px;
    padding: 0px 15px;
    font-weight: bold;
    border-bottom: 2px solid #5D4A78;
}

#taskbar {
    padding: 0px 4px;
    margin: 0px 15px;
    border-radius: 10px;
    background: rgba(6, 8, 32, 0.9);
    border: 1px solid #A25B89;
}
